.next/*
web-app/.next/app-build-manifest.json
web-app/.next/react-loadable-manifest.json
web-app/.next/trace
web-app/.next/cache/webpack/client-development/1.pack.gz
web-app/.next/cache/webpack/client-development/2.pack.gz
web-app/.next/cache/webpack/client-development/3.pack.gz
web-app/.next/cache/webpack/client-development/4.pack.gz
web-app/.next/cache/webpack/client-development/5.pack.gz
web-app/.next/cache/webpack/client-development/6.pack.gz
web-app/.next/cache/webpack/client-development/index.pack.gz
web-app/.next/cache/webpack/client-development/index.pack.gz.old
web-app/.next/cache/webpack/edge-server-development/0.pack.gz
web-app/.next/cache/webpack/edge-server-development/index.pack.gz
web-app/.next/cache/webpack/server-development/0.pack.gz
web-app/.next/cache/webpack/server-development/1.pack.gz
web-app/.next/cache/webpack/server-development/2.pack.gz
web-app/.next/cache/webpack/server-development/3.pack.gz
web-app/.next/cache/webpack/server-development/4.pack.gz
web-app/.next/cache/webpack/server-development/5.pack.gz
web-app/.next/cache/webpack/server-development/index.pack.gz
web-app/.next/cache/webpack/server-development/index.pack.gz.old
web-app/.next/server/app-paths-manifest.json
web-app/.next/server/edge-runtime-webpack.js
web-app/.next/server/middleware-manifest.json
web-app/.next/server/middleware-react-loadable-manifest.js
web-app/.next/server/middleware.js
web-app/.next/server/server-reference-manifest.json
web-app/.next/server/webpack-runtime.js
web-app/.next/server/app/page_client-reference-manifest.js
web-app/.next/server/app/page.js
web-app/.next/server/app/_not-found/page_client-reference-manifest.js
web-app/.next/server/app/_not-found/page.js
web-app/.next/server/app/api/auth/verify/route.js
web-app/.next/server/app/avaliacoes/page_client-reference-manifest.js
web-app/.next/server/app/avaliacoes/page.js
web-app/.next/server/app/avaliacoes/\[id]/page_client-reference-manifest.js
web-app/.next/server/app/avaliacoes/\[id]/page.js
web-app/.next/server/app/avaliacoes/novo/page_client-reference-manifest.js
web-app/.next/server/app/avaliacoes/novo/page.js
web-app/.next/server/vendor-chunks/@radix-ui.js
web-app/.next/server/vendor-chunks/lucide-react.js
web-app/.next/server/vendor-chunks/next.js
web-app/.next/static/chunks/_app-pages-browser_components_dashboard_map-component_tsx.js
web-app/.next/static/chunks/webpack.js
web-app/.next/static/chunks/app/layout.js
web-app/.next/static/chunks/app/page.js
web-app/.next/static/chunks/app/avaliacoes/page.js
web-app/.next/static/chunks/app/avaliacoes/\[id]/page.js
web-app/.next/static/chunks/app/avaliacoes/novo/page.js
web-app/.next/static/css/app/layout.css
web-app/.next/static/webpack/1f088b6b0d809e5c.webpack.hot-update.json
web-app/.next/static/webpack/26c8eae8ed9713dc.webpack.hot-update.json
web-app/.next/static/webpack/525cc50b30c44030.webpack.hot-update.json
web-app/.next/static/webpack/adeaba3ed67e1a66.webpack.hot-update.json
web-app/.next/static/webpack/c2a702f443dd4fc2.webpack.hot-update.json
web-app/.next/static/webpack/webpack.1f088b6b0d809e5c.hot-update.js
web-app/.next/static/webpack/webpack.26c8eae8ed9713dc.hot-update.js
web-app/.next/static/webpack/webpack.525cc50b30c44030.hot-update.js
web-app/.next/static/webpack/webpack.adeaba3ed67e1a66.hot-update.js
web-app/.next/static/webpack/webpack.c2a702f443dd4fc2.hot-update.js
web-app/.next/static/webpack/app/layout.1f088b6b0d809e5c.hot-update.js
web-app/.next/static/webpack/app/layout.525cc50b30c44030.hot-update.js
web-app/.next/static/webpack/app/layout.adeaba3ed67e1a66.hot-update.js
web-app/.next/static/webpack/app/layout.c2a702f443dd4fc2.hot-update.js
web-app/.next/types/app/api/auth/verify/route.ts
web-app/.next/types/app/avaliacoes/novo/page.ts
